<h1>Umbrella Current State</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>location name</th>
      <th>雨傘數量</th>
      <th>更新時間</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= location.name %></td>
        <td><%= location.umbrellas.size %></td>
        <td><%= location.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>user</th>
      <th>取用時間</th>
    </tr>
  </thead>
  <tbody>
    <% @umbrella_in_renting.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.umbrella_holder.email %></td>
        <td><%= u.umbrella_holder.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>location trend</h1>
<svg width="960" height="500"></svg>

<script>
  var svg = d3.select("svg"),
    margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = svg.attr("width") - margin.left - margin.right,
    height = svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var parseTime = d3.timeParse("%Y%m%d");

  var x = d3.scaleTime().range([0, width]),
    y = d3.scaleLinear().range([height, 0]),
    z = d3.scaleOrdinal(d3.schemeCategory10);

  var line = d3.line()
    .curve(d3.curveBasis)
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.temperature); });
</script>