<h1>umbrella history</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>time</th>
      <th>轉移來源</th>
      <th>轉移目標</th>
    </tr>
  </thead>
  <tbody>
    <% @umb_log.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.try(:end_time) %></td>
        <td><%= u.user.email %></td>
        <td><%= u.end_location.try(:name) %></td>
      </tr>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.start_time %></td>
        <td><%= u.start_location.name %></td>
        <td><%= u.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>